*{
    box-sizing: border-box;
}

:root {
    --brand-color: #000;
    font-family:monospace, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 5% auto;
    border: 1px solid;
    border-radius: 10px;

}
.question-head{
    font-size: 30px;
    margin: 20px 0px;
    padding: 0;
}

.create{
    color: rgb(2, 91, 163);
}
.quiz{
    color: rgb(3, 134, 241);
}
.legend{
    align-self: center;
    font-size: 40px;
    align-self: center;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}
.quiz-name{
    display: flex;
    justify-content: left;
    flex-direction: row;
    width:inherit;
    padding-bottom: 1%;
    border: none;
    
}
.quiz-name p{
    font-size:25px;
    
}
.quiz-name input{

    margin: none;
    border-bottom: 1px solid;
    padding-right: none;
    display: inline-block;
    width: 25%;
    margin-top: 15px;
    height: 60px;
}
.form-container{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 2%;
    width: 90%;
    margin: 5%;

}
.form-container input{
    font-size:20px ;
}

.row-name{
    display: flex;

}
.question-input{
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    font-size: 25px;
}

.answers-row1{
    font-size: 30px;
    display: flex;
    margin-top: 30px;
    height: 60px;
    
}
.answers-row1 input{
    width: 50%;
    margin-left: 15px;
}
.answers-row2{
    font-size: 30px;
    display: flex;
    height: 60px;
}
.answers-row2 input{
    width: 50%;
    margin-left: 15px;
}
.answer{
    border: none;
    border-bottom: 1px solid;
}
.sel{
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.right{
    font-size: 30px;
    
}

.select{
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color:rgb(3, 134, 241);
    color: white;
    width: 70px;
    height: 45%;
    margin-top: 30px;
}

.send{
    width: 120px;
    font-size: 30px;
    margin-top: 30px;
    border: none;
    background-color:rgb(3, 134, 241);
    color: white;
    border-radius: 10px;
    height: 50%;

}
.send:focus{
    background-color: rgb(2, 91, 163);
}

footer, .questions-container {
    margin-left: 5%;
    margin-right: 5%;
    word-break: break-word;
    width: 90%;
    padding: 0 1%;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
footer button{
    margin: 5px;
    height: 35px;
    border-radius: 10px;
    background-color:rgb(3, 134, 241);
    color: white;
    
}
footer button:focus{
    background-color:rgb(2, 91, 163);   
}
.title-q{
    text-align: center;
    color: rgb(2, 91, 163);
}
.title-q span{
    color: rgb(3, 134, 241);
}
.questions-container {
    font-size: 150%;
    border: 2px solid;
    border-radius:20px ;
    margin-bottom: 20px;
}

.question-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.question button{
    all: unset;
}
.question-title button{
    margin-top: 35px;
}

.trash-can  :hover{
    color: red;
    cursor: pointer;
}

.answer-edit :hover{
    color: darkgrey;
    cursor: pointer;
}
.answer-edit :focus{
    color: darkgrey;
    background-color: darkgrey;
}
.answer-list li{
    list-style: upper-alpha;   
}
.answer-list div{
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}