* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace, Helvetica, sans-serif;
}

:root {
    --primary-color: #4e148c;
    --secondary-color: #ff6d00;
    --tertiary-color: #18ccae;
    --blue-color: #3877ff;
    --red-color: #e8353e;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 5% auto;
    border: 3px solid var(--primary-color);
    border-radius: 10px;

}
.header-title {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    display: flex;
    margin: 5% 5% 4% 5%;
    color: var(--primary-color);
    font-size: 24px;
}
.container-title {
    color: var(--primary-color);
    margin-left: 2%;
    font-size: 40px;
    text-align: center;
}
.quiz-title {
    font-size: 28px;
    color: var(--blue-color);
    margin-right: 2%;
    display: flex;
    align-items: center;
    width: 50%;
}

.quiz-name {
    font-size: 24px;
    margin-left: 20px;
    width: 60%;
    height: 40px;
    color: var(--secondary-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    outline: none;
}
.form-container {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 3%;
    width: 90%;
    margin: 0 5% 5% 5%;
}
.form-title, .title-q {
    margin-bottom: 3%;
    color: var(--secondary-color);
    text-align: center;
}
.row-name {
    margin: 3% 0;
}
.row-name {
    display: flex;
    align-content: center;
}
.question-name {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 24px;
}
.question-input {
    font-size: 20px;
    height: 30px;
    color: var(--blue-color);
    border: none;
    border-bottom: 1px solid var(--blue-color);
    width: 90%;
    outline: none;
    margin-left: 10px;
}
.answers-row1{
    display: flex;
    margin-bottom: 2%;
    height: 30px;
}
.answers-row1 input{
    font-size: 20px;
    width: 50%;
    margin-left: 2%;
    outline: none;
}
.answers-row2 {
    display: flex;
    margin-bottom: 4%;
    height: 30px;
}
.answers-row2 input{
    font-size: 20px;
    width: 50%;
    margin-left: 2%;
    outline: none;
}
.answer {
    border: none;
    color: var(--blue-color);
    border-bottom: 1px solid var(--blue-color);
}

.sel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    color: var(--primary-color);
    font-size: 24px;
    margin-right: 20px;
}
.select {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid Var(--primary-color);
    width: 80px;
    height: 40px;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;
}
.send {
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid Var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}
.select:hover, .send:hover, .submit-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}
.row {
    display: flex;
    justify-content:space-evenly;
}


.questions-container {
    width: 90%;
    font-size: 20px;
    margin: 0 5% 5% 5%;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border: 2px solid Var(--primary-color);
    border-radius: 10px;
}
footer {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}
.submit-btn {
    width: 20%;
    height: 50px;
    margin: 0 2%;
    font-size: 18px;
    border-radius: 5px;
    color: var(--primary-color);
    background-color:#fff;
    border: 2px solid Var(--primary-color);
    cursor: pointer;
}
.questions {
    color: Var(--primary-color);
    margin: 5%;
}

.answer-list {
    color: Var(--blue-color);
    margin-left: 5%;
}
.question-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question {
    margin-bottom: 2%;
}
.question button {
    all: unset;
}
.title-buttons {
    display: flex;
    justify-content: space-between;
    width: 7%;
}
button.trash-can, button.answer-edit {
    font-size: 20px;
    color: var(--primary-color);
}
.trash-can:hover {
    color: var(--red-color);
    cursor: pointer;
}
.answer-edit:hover{
    color: var(--blue-color);
    cursor: pointer;
}
.answer-list li{
    list-style: upper-alpha;
}
.answer-list div{
    display: flex;
    justify-content: space-between;
}
.answer-row-cont {
    display: flex;
    align-items: center;
    margin: 2% 0;
}
.hide {
    display: none;
}