* {
    box-sizing: border-box;
}
/* :root {
    --brand-color: #000;
    font-family:monospace, Helvetica, sans-serif;
} */
:root {
    --primary-color: #4e148c;
    --secondary-color: #ff6d00;
    --tertiary-color: #18ccae;
    --blue-color: #3877ff;
    --red-color: #d00000;
    font-family: monospace, Helvetica, sans-serif;
}
.greeting {
    margin-top: 10%;
    font-size: 60px;
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
}
.menubar {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
}
.menubar li{
    display: inline-block;
    padding: 20px 25px;
    /* margin-top: 15px; */
}
.menu-item a{
    text-decoration: none;
    /* color: var(--primary-color); */
    color: white;
    padding: 20px 20px;
    font-size: 25px;
    text-transform: capitalize;
}
.menu-item a:hover{
    color: rgba(255, 255, 255, 0.75);
}
.discription , .list{
    width: 80%;
    margin: 5% 10% 2%;
    font-size: 25px;
    color: var(--secondary-color);
    line-height: 1.5em;
}
.list{
    color: var(--blue-color);
    margin-left: 12%;  
}