* {
    box-sizing: border-box;
}
:root {
    --brand-color: #000;
    font-family:monospace, Helvetica, sans-serif;
}
.container {
    width: 90%;
    height: 490px;
    margin: 5% auto;
    border: 3px solid var(--brand-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.greeting {
    font-size: 50px;
    text-align: center;
}
.nav-btn {
    width: 25%;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: var(--brand-color);;
    border: 2px solid var(--brand-color);
    border-radius: 5px;
    margin: 0 2%;
}
.nav-btn:hover {
    color: white;
    background-color: var(--brand-color);
    box-shadow: 1px 1px 10px #808080;
}

.nav-links {
    display: flex;
    justify-content: center;
}
