* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --primary-color: #4e148c;
    --secondary-color: #ff6d00;
    --tertiary-color: #18ccae;
    --blue-color: #3877ff;
    --lightblue-color: hsl(221, 100%, 65%);
    --red-color: #d00000;
    font-family: monospace, Helvetica, sans-serif;
}
body{
    background-color: var(--tertiary-color);
}
.container {
        width: 90%;
        margin: 8% auto 5%;
        padding: 3%;
        border: 3px solid var(--primary-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        background-color: white;
}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nav-link{
    font-size: 20px;
    font-weight: bold;
    width: 22%;
    margin: 2% 5%;
    color: #fff;
    background-color: var(--blue-color);
    cursor: pointer;
    border-radius: 5px;
    padding: 30px 30px;
}
.greeting {
    margin-top: 5%;
    font-size: 60px;
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
}
.nav-link{
    text-decoration: none;
    text-align: center;
}
.topnav {
    background-color: var(--primary-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
}  
.topnav a {
    /* float: left; */
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 21px;
    margin: 0 2%;
}

.topnav a:hover {
    background-color: #5c219b;
    color: rgba(255, 253, 255, 0.918);
}
  
.topnav .icon {
    display: none;
}
.discription , .list{
    width: 80%;
    margin: 5% 5% 0 5%;
    font-size: 25px;
    color: var(--secondary-color);
    line-height: 1.5em;
}
.nav-link:hover{
    color: white;
    background-color: var(--lightblue-color);
    box-shadow: 1px 1px 10px #888888;
} 
.list{
    color: var(--primary-color);
    margin: 5%;
}


/*==================================media query======================================================*/

@media(max-width:1024px){
        .container{
            margin: 10% auto;
        }
}
@media(max-width:768px){
    .container {
        margin: 15% auto;
    }
    .topnav a{
        font-size: 17px;
    }
    .nav-link{
        font-size: 17px;
        width: 90%;
        margin: 2% 5%;
        display: block;
        padding: 20px 30px;
    }
    .nav-links{
        display: block;
    }

}

@media(max-width:415px){

    .container{
        margin: 18% auto;
    }


    .topnav a{display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav{
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .greeting{
        margin-top: 20%;
        font-size: 30px;
    }
    .discription{
        font-size: 17px;
    }
    .list{
        font-size: 14px;
    }
    .nav-link{
        font-size: 17px;
        width: 90%;
        margin: 2% 5%;
        display: block;
        padding: 20px 30px;
    }
    .nav-links{
        display: block;
    }
    .topnav.responsive{
        margin-bottom: -13%;
    }
}

  
