*{
    box-sizing: border-box;
}
:root {
    --primary-color: #4e148c;
    --secondary-color: #ff6d00;
    --tertiary-color: #18ccae;
    font-family: monospace, Helvetica, sans-serif;
}
.container {
    width: 90%;
    margin: 5% auto;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.main-container, .quiz-container, .confirmation, .result-container {
    margin: 3%;
}
.main-container-title {
    color: var(--primary-color);
    margin: 5% 0 6% 0;
    font-size: 40px;
    text-align: center;
}

.premade-quizzes-title, .confirm-title {
    color: var(--primary-color);
    margin: 5% 0 5% 10%;
    font-weight: normal;
}
.premade-quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6%;
}
.quizzes {
    font-size: 20px;
    width: 20%;
    margin: 2% 5%;
    color: var(--primary-color);
    background-color: #ffffff;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 20px 30px;
}

.quizzes:hover{
    color: white;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 10px #808080;
} 
.quizzes:focus{
    color: white;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 10px #808080;
}
.quiz-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 15px;
}
.remove-quiz{
    all:unset;
    font-size: 25px;
    align-self: right;
}
.remove-quiz  :hover{
    color: red;
    cursor: pointer;
}
.quiz-name{
    display: flex;
    justify-content: left;
    flex-direction: row;
    width:inherit;
    padding-bottom: 1%;
    border: none;
    
}
.quiz-name p{
    font-size:25px;
    
}
.quiz-name input{

    margin: none;
    border-bottom: 1px solid;
    padding-right: none;
    display: inline-block;


}
.form-container{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 2%;
    width: 70%;
}
.form-container input{
    font-size:20px ;
}

.row{
    display: flex;
    margin-bottom: 5px;
    padding-left: 10px;
    height: 50px;
}
.question-input{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 25px;
}
.prefix{
    display: flex;
    justify-content: center;
    background-color: rgb(54, 235, 241);
    margin-right: 5px;
    width: 100px;
    height: inherit;
    font-size: 40px;
    color: rgb(2, 26, 32);
}
.answer{
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}
.right-answer{
    display: flex;
    flex-direction: row;
    justify-content: left;

}
.right{
    font-size: 30px;
    
}
.answers{
    font-size: 30px;

}
.select{
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: rgb(25, 160, 201);
    width: 70px;
    height: 55%;
    margin-top: 30px;
}
.add{
    display: flex;
    justify-content: center;
    height: 50px;
}
.send{
    width: 120px;
    font-size: 30px;
    justify-content: center;
    border: none;
    background-color: white;
    
}
.send:focus{
    border: 1px solid;
    border-radius:10px;
    background-color: gainsboro;
}

footer, .questions-container {
    margin-left: 10%;
    margin-right: 10%;
    word-break: break-word;
}

footer {
    display: flex;
    justify-content: center;
}


.questions {
    font-size: 150%;

}

.question-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.question button{
    all: unset;
}

.title-buttons{
    display: flex;
}
.remove-quiz{
    color: red;
}
.trash-can:hover{
    color: red;
    cursor: pointer;
}
.remove-quiz:hover{
    color: rgb(185, 56, 56);
    cursor: pointer;
}

.answer-edit :hover{
    color: darkgrey;
    cursor: pointer;
}
.answer-edit :focus{
    color: darkgrey;
    background-color: darkgrey;
}
.answer-list li{
    list-style: upper-alpha;  
    margin-bottom: 10px; 
    font-size: 18px;
}
.answer-list div{
    display: flex;
    justify-content: space-between;
}

h2{
    font-size: 25px;
    padding: 0;
}
.hide{
    visibility: hidden;
}