* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace, Helvetica, sans-serif;
}

:root {
    --primary-color: #4e148c;
    --secondary-color: #ff6d00;
    --tertiary-color: #18ccae;
    --blue-color: #3877ff;
    --red-color: #e8353e;
}
.original-container {
    width: 90%;
    font-size: 20px;
    margin: 8% 0 5% 5%;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    padding: 5%;
    border: 3px solid Var(--primary-color);
    border-radius: 10px;
    background-color: white;

}
.container.hide{
    width: 100%;
    padding: 5% 5% 5% 8%;
    margin: 0;
}
.main-container{
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
    background-color: white;
    border: 3px solid Var(--primary-color);
    border-radius: 10px;
}
.main-container-title {
    color: var(--primary-color);
    margin: 5% 0 6% 0;
    font-size: 40px;
    text-align: center;
}

.premade-quizzes-title, .confirm-title {
    color: var(--primary-color);
    margin: 5% 0 5% 10%;
    font-weight: normal;
}
.premade-quizzes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 6%;
}
.quizzes {
    font-size: 20px;
    width: 25%;
    margin: 4% 4%;
    color: var(--primary-color);
    background-color: #ffffff;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 20px 30px;
}

.quizzes:hover{
    color: white;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 10px #808080;
} 
.quizzes:focus{
    color: white;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 10px #808080;
}
div.quiz-title{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.remove-quiz{
    all:unset;
    font-weight: bold;
    font-size: 28px;
}
.remove-quiz-span {
    font-family: monospace, Helvetica, sans-serif;
    margin-left: 10px;
}
.remove-quiz:hover {
    color: var(--red-color);
    cursor: pointer;
}

.form-container {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 3%;
    width: 90%;
    margin: 5% 5%;
    background-color: white;
}
.form-title, .title-q {
    margin-bottom: 3%;
    color: var(--secondary-color);
    text-align: center;
}
.row-name {
    margin: 3% 0;
}
.row-name {
    display: flex;
    align-content: center;
}
.question-name {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 24px;
}
.question-input {
    font-size: 20px;
    height: 30px;
    color: var(--blue-color);
    border: none;
    border-bottom: 1px solid var(--blue-color);
    width: 90%;
    outline: none;
    margin-left: 10px;
}
.answers-row1{
    display: flex;
    margin-bottom: 2%;
    height: 30px;
}
.answers-row1 input{
    font-size: 20px;
    width: 50%;
    margin-left: 2%;
    outline: none;
}
.answers-row2 {
    display: flex;
    margin-bottom: 4%;
    height: 30px;
}
.answers-row2 input{
    font-size: 20px;
    width: 50%;
    margin-left: 2%;
    outline: none;
}
.answer {
    border: none;
    color: var(--blue-color);
    border-bottom: 1px solid var(--blue-color);
}

.sel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    color: var(--primary-color);
    font-size: 24px;
    margin-right: 20px;
}
.select {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid Var(--primary-color);
    width: 80px;
    height: 40px;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;
}
.send {
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid Var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}
.select:hover, .send:hover, .submit-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}
.row {
    display: flex;
    justify-content:space-evenly;
}

#quiz-name{
    font-size: 36px;
    color: var(--secondary-color);
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2% 0;
    
}
.submit-btn {
    width: 20%;
    height: 50px;
    margin: 0 2%;
    font-size: 18px;
    border-radius: 5px;
    color: var(--primary-color);
    background-color:#fff;
    border: 2px solid Var(--primary-color);
    cursor: pointer;
}

.questions{
    width: 100%;
    color: Var(--primary-color);
}

.question-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.question button{
    all: unset;
    font-size: 20px;
}

.title-buttons{
    display: flex;
    justify-content: space-between;
}
.remove-quiz{
    color: red;
}
.remove-quiz:hover{
    color: rgb(185, 56, 56);
    cursor: pointer;
}
button.answer-edit {
    margin-left: 40px;
}
button.trash-can {
    margin-left: 20px;
}
button.trash-can, button.answer-edit {
    font-size: 20px;
    color: var(--primary-color);
}
.trash-can:hover {
    color: var(--red-color);
    cursor: pointer;
}
.answer-edit:hover{
    color: var(--blue-color);
    cursor: pointer;
}
.answer-list li{
    list-style: upper-alpha;
}
.answer-list div{
    display: flex;
    justify-content: space-between;
}
.answer-row-cont {
    display: flex;
    align-items: center;
    margin: 2% 0;
}
.answer-list{
    color: var(--blue-color);
    margin-left:5%;
}
.question{
    margin-bottom: 3%;
}
.correct-answer{
    margin-bottom: 2%;
}
h2{
    font-size: 25px;
    padding: 0;
}
.hide{
    display: none;
}

@media (max-width: 415px){
.container{
    margin: 13% 0 5% 5%;

}
.main-container-title{
    font-size: 17px;
}
.premade-quizzes{
    padding: 0 0 75px;
    display: block;
}
.quizzes{
    font-size: 30px;
    width: 80%;
    margin: 30px auto; 
    display: block;
    padding: 19px 30px;
    }
}
