*{
    box-sizing: border-box;
}
:root {
    --primary-color: #4e148c;
    --secondary-color: #ff6d00;
    --tertiary-color: #18ccae;
    font-family: monospace, Helvetica, sans-serif;
}

.Eldest-container{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #76aacf;

}
.container {
    width: 90%;
    margin: 5% auto;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 1% 2%;
    box-shadow: 0 3px 10px #4e148c;
    background-color: white;
}
.main-container{
    margin: 3%;
    background-color: white;
}
.main-container-title {
    color: var(--primary-color);
    margin: 5% 0 6% 0;
    font-size: 40px;
    text-align: center;
}

.premade-quizzes-title, .confirm-title {
    color: var(--primary-color);
    margin: 5% 0 5% 10%;
    font-weight: normal;
}
.premade-quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6%;
}
.quizzes {
    font-size: 20px;
    width: 20%;
    margin: 2% 5%;
    color: var(--primary-color);
    background-color: #ffffff;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 20px 30px;
}

.quizzes:hover{
    color: white;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 10px #808080;
} 
.quizzes:focus{
    color: white;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 10px #808080;
}
.quiz-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 15px;
}
.remove-quiz{
    all:unset;
    font-size: 25px;
    align-self: right;
}
.remove-quiz  :hover{
    color: red;
    cursor: pointer;
}

.form-container{
    border: 3px solid #4e148c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 2%;
    width: 90%;
    margin: 0 5%;
    box-shadow: 0 3px 10px #4e148c;
    background-color: white;
}
legend{
    color: rgb(3, 134, 241);
    text-decoration: underline;
}
.form-container span{
    color: rgb(2, 91, 163);
}
.form-container input{
    font-size:20px ;
}

.row-name{
    display: flex;

}
.question-input{
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    font-size: 25px;
}

.answers-row1{
    font-size: 30px;
    display: flex;
    margin-top: 30px;
    height: 60px;
    
}
.answers-row1 input{
    width: 50%;
    margin-left: 15px;
}
.answers-row2{
    font-size: 30px;
    display: flex;
    height: 60px;
}
.answers-row2 input{
    width: 50%;
    margin-left: 15px;
}
.answer{
    border: none;
    border-bottom: 1px solid;
}
.sel{
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.right{
    font-size: 30px;
    
}

.select{
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color:rgb(3, 134, 241);
    color: white;
    width: 70px;
    height: 45%;
    margin-top: 30px;
}

.send{
    width: 120px;
    font-size: 30px;
    margin-top: 30px;
    border: none;
    background-color:rgb(3, 134, 241);
    color: white;
    border-radius: 10px;
    height: 50%;

}
.send:focus{
    border: 1px solid;
    border-radius:10px;
    background-color: rgb(2, 91, 163);
}

footer, .questions-container {
    margin-left: 5%;
    margin-right: 5%;
    word-break: break-word;
    width: 90%;
    padding: 0 1%;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
footer button{
    margin: 5px;
    height: 35px;
    border-radius: 10px;
    background-color:rgb(3, 134, 241);
    color: white;
    
}
footer button:focus{
    background-color:rgb(2, 91, 163);   
}
.questions {
    font-size: 150%;
}

.question-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.question button{
    all: unset;
}

.title-buttons{
    display: flex;
}
.remove-quiz{
    color: red;
}
.trash-can:hover{
    color: red;
    cursor: pointer;
}
.remove-quiz:hover{
    color: rgb(185, 56, 56);
    cursor: pointer;
}

.answer-edit :hover{
    color: darkgrey;
    cursor: pointer;
}
.answer-edit :focus{
    color: darkgrey;
    background-color: darkgrey;
}
.answer-list li{
    list-style: upper-alpha;  
    margin-bottom: 10px; 
    font-size: 18px;
}
.answer-list div{
    display: flex;
    justify-content: space-between;
}

h2{
    font-size: 25px;
    padding: 0;
}
.hide{
    display: none;
}