* {
    box-sizing: border-box;
}
:root {
    --brand-color: #000;
    font-family:monospace, Helvetica, sans-serif;
}
.container {
    width: 90%;
    margin: 5% auto;
    border: 3px solid var(--brand-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.main-container, .quiz-container, .confirmation, .result-container {
    margin: 2% 0;
}
.main-container-title, .result-title {
    color: var(--brand-color);
    margin: 5% 0 6% 0;
    font-size: 40px;
    text-align: center;
}
.premade-quizzes-title, .confirm-title {
    color: var(--brand-color);
    margin: 5% 0 5% 10%;
    font-weight: normal;
}
.premade-quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6%;
}

.quizzes, .confirm-btn, .browsing-btns {
    font-size: 20px;
    width: 20%;
    margin: 2% 5%;
    color: var(--brand-color);
    background-color: #ffffff;
    cursor: pointer;
    border: 2px solid var(--brand-color);
    border-radius: 5px;
    padding: 20px 30px;
}
.confirm-btn {
    width: 25%;
    margin: 0 2%;
}

.quizzes:hover, .confirm-btn:hover, .browsing-btns:hover {
    color: white;
    background-color: var(--brand-color);
    box-shadow: 1px 1px 10px #808080;
} 


.confirmation-btns {
    display: flex;
    justify-content: center;
    margin: 10% 0 10% 0;
}
.confirmation {
    display: none;
}
.quiz-container {
    margin: 3%;
    display: none;
}
.quiz-header {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}
.quiz-title{
    font-weight: bold;
    font-size: 24px;
}

.timer {
    width: 20%;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #000;
    padding: 10px 15px;
    display: inline-block;
}
.question-text {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 2%;
    padding: 20px;
    
}
.answers {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 15px;
    margin: 2%;
}
.answer {
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #888;
    padding: 15px;
}
.answer:hover{
    background-color: hsl(0, 0%, 90%);
}
.answer:focus{
    background-color: hsl(0, 0%, 90%);
}
.questions-browsing {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}
.browsing-btns {
    background-color: #fff;
    color: var(--brand-color);
    border: 2px solid var(--brand-color);
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
    padding: 15px 20px;
    margin: 0 1%;
}

.result-container {
    display: none;
}
.choic{
    background-color: lightskyblue;
    color: #fff;
}
