* {
    box-sizing: border-box;
}
:root {
    --brand-color: #000;
    font-family:monospace, Helvetica, sans-serif;
}
.container {
    width: 90%;
    height: 490px;
    margin: 5% auto;
    border: 3px solid var(--brand-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.main-container, .quiz-container, .confirmation {
    margin: 2% 0;
}
.container-title {
    color: var(--brand-color);
    margin-bottom: 6%;
    font-size: 40px;
    text-align: center;
}
.premade-quizzes-title, .confirm-title {
    color: var(--brand-color);
    margin-bottom: 5%;
    margin-left: 10%;
    font-weight: normal;
}
.premade-quizzes {
    display: flex;
    justify-content: space-evenly;
}

.quizzes, .confirm {
    font-size: 20px;
    width: 20%;
    color: var(--brand-color);
    background-color: #ffffff;
    cursor: pointer;
    border: 2px solid var(--brand-color);
    border-radius: 5px;
    padding: 20px 30px;
}
.confirm {
    width: 25%;
    margin: 0 2%;
}
.quizzes:hover, .confirm:hover {
    color: white;
    background-color: var(--brand-color);
    box-shadow: 1px 1px 10px #808080;
}
.confirmation-btns {
    display: flex;
    justify-content: center;
}
.confirmation {
    display: none;
}
.quiz-container {
    margin: 3%;
    display: none;
}
.quiz-header {
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
}
.quiz-title{
    font-weight: bold;
    font-size: 24px;
}

.timer {
    width: 20%;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #000;
    padding: 10px 15px;
    display: inline-block;
}
.question-text{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 10px 15px;
    
}
.answers {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 15px;
    margin-bottom: 2%;
}
.answers button {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 15px 0;
}
.answers button:hover{
    background-color: rgb(165, 223, 243);
}
.answers button:focus{
    background-color: rgb(165, 223, 243);
}
.questions-browsing {
    display: flex;
    justify-content: center;
    /* margin-top: 15px; */
}
.questions-browsing button {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
    width: 15%;
    border: none;
    padding: 15px 20px;
    color: white;
    background-color: deepskyblue;
    margin: 0 2%;
}